.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actions {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}